/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.05.2017, 17:12:05
    Author     : Martin M
*/
/*div{
    background-color: blue
}*/

.prodTile{
    width: 190px;
    padding: 2px;
    float: left;
    /*background-color:deeppink;*/

}

.prodTile img{
    width: 180px; 
    height: 180px;
    
}

body {
    padding-top: 55 px;
    margin-top:55px;
}
