/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.05.2017, 17:12:05
    Author     : Martin M
*/
/*div{
    background-color: blue
}*/

.prodTile{
    width: 400px;
    padding: 2px
}

.prodTile img{
    width: 220px;
    height: 220px;
    border-radius: 5px
    
}

body {
    padding-top: 55 px;
    margin-top:55px;
}
